<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice on Cue</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <style>
        .selected {
            background-color: #c6f6d5;
        }

        .queued {
            background-color: #c6ecf6;
        }

    </style>
</head>

<body>
    <div id="app" class="">
        <div v-show="items == null" class="p-5 max-w-screen-md m-auto">
            <div class="container mb-2">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold p-1 px-3 rounded"
                    @click="doTheThing">Do
                    the thing</button>
                <div class="text-sm text-gray-800 float-right">
                    <a href="https://github.com/bacanu/voice-on-time"
                        class="p-1 text-blue-700 hover:text-blue-900">Source on Github</a>
                    <a href="#howto" class="p-1 text-blue-700 hover:text-blue-900">How to use</a>
                    <span class="p-1">Your edits are auto-saved.</span>
                </div>
            </div>
            <div class="container flex flex-row relative">
                <div class="whitespace-pre-line flex-1 px-3 p-1">{{ script + "a" }}</div>
                <textarea v-model="script"
                    class="w-full h-full absolute top-0 left-0 px-3 p-1 rounded bg-green-100 shadow"></textarea>
            </div>
            <div class="my-3" id="howto">
                <strong>How to use:</strong><br>
                Each paragraph is a chunk of speech. <br>
                The voice reads the paragraph and when it reaches the end, the voice stops and waits for a click to
                start reading the next paragraph, if any. <br>
                <br>
                For bugs, feature requests and feedback, create a new issue at: <a
                    class="text-blue-700 hover:text-blue-900"
                    href="https://github.com/bacanu/voice-on-time/issues">https://github.com/bacanu/voice-on-time/issues</a>

            </div>
        </div>
        <div v-show="items != null" class="select-none cursor-pointer" >

            <div class="container max-w-screen-md m-auto text-xl ">
                <div v-for="item in items" 
                    @click="readItem(item)" 
                    class="pl-2" 
                    :class="{'selected': (item == paragraph), 'queued': _.includes(queued, item)}">
                        <p class="p-3 pl-2 hover:bg-gray-300 whitespace-pre-line">{{ item }}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"
        integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script>
        var voice = null
        window.speechSynthesis.onvoiceschanged = () => {
            voice = window.speechSynthesis.getVoices().find((v) => v.name == "Google UK English Female");
        }

        function saveLocally(text) {
            localStorage.setItem("text", text);
        }

        var cchw = `First paragraph here
        
        second paragraph here`

        function getFromLocal() {
            var s = localStorage.getItem("text")

            if (s) {
                return s;
            } else {
                return cchw;
            }
        }

        function scriptToItems(script) {
            let lines = _.split(script, /(?:\r\r|\n\n|\r\n\r\n)/);

            let items = [];

            lines.forEach((line) => {
                console.log(line, line.length)
                var line = line.replace(/^[\n\r]+/g, '').replace(/[\n\r]+$/g, '');
                console.log(line)
                if (line.length > 0) {
                    items.push(line)
                }
            })

            return items;
        }

        var app = new Vue({
            el: "#app",
            data: {
                script: "",
                paragraph: null,
                paragraphMsg: null,
                items: null,
                queued: [],
            },
            methods: {
                readItem(item) {
                    if(this.paragraph) {
                        this.queued.push(item)
                        return
                    }

                    return new Promise((resolve, reject) => {
                        this.paragraph = item 
                        let msg = new SpeechSynthesisUtterance(item);
                        msg.voice = voice;
                        msg.pitch = 1; //0 to 2
                        msg.onend = (() => { resolve(); })
                        msg.onerror = (() => { reject();})

                        //workaround for the "end" event sometimes not firing
                        //https://stackoverflow.com/a/55067370/1101584
                        this.paragraphMsg = msg 

                        window.speechSynthesis.speak(msg);
                    }).finally(() => {
                        this.paragraph = null
                        this.paragraphMsg = null

                        let queuedItem = this.queued.shift()

                        if (queuedItem) {
                            this.readItem(queuedItem)
                        }
                    });
                },
                back() {
                    this.items = null
                },
                doTheThing() {
                    this.items = scriptToItems(this.script);
                }
            },
            created() {
                this.script = getFromLocal()

            },
            updated() {
                saveLocally(this.script);
            }
        });
    </script>
</body>

</html>